[Desktop Entry]
Version=1.0.0
Type=Application
Name=Hades
Comment=A Nintendo Game Boy Advance Emulator
TryExec=hades
Exec=hades %f
Icon=hades
Categories=Game;Emulator;
Terminal=false
